a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: black;
}

.text-center{
  display: inline-block;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 51%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

input {
  border: 8px solid transparent;
  border-radius: 10px;
  background-color: transparent;
  color: #2f3030;
  font-size: 35px;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: regular;
  text-align: left;
  min-width: 750px;
  max-width: 750px;
  outline: 0;
  transition: color 0.8s ease-in-out 0.1s, transform 0.2s, margin 0.2s;
}

input:focus {
  font-family: 'Space Mono', monospace;
  font-weight: 800; /* Set the font weight to 800 */
  font-style: italic; /* Set the font style to italic */
}

.custom-cursor {
  caret-color: #0063ff; /* Hide the default cursor */
  cursor: url('custom-cursor.png') 10 10, auto;
}
